<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Echo!</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  </head>

  <body>
    <div class="app-container">
      <div class="navigation-container">
        <ul class="navigation-items">
          <li class="navigation-item m-b-3">
            <img src="<%= static_path(@conn, "/images/echo_logo_nav.png") %>" alt="Echo logo" />
          </li>
          <li class="navigation-item">
            <%= link to: notification_path(@conn, :index), class: Echo.LinkHelpers.active_class(@conn, notification_path(@conn, :index)) do %><i class="fa fa-tachometer" aria-hidden="true"></i></a><% end %>
          </li>
          <li class="navigation-item">
            <%= link to: notification_path(@conn, :new), class: Echo.LinkHelpers.active_class(@conn, notification_path(@conn, :new)) do %><i class="fa fa-plus-circle" aria-hidden="true"></i></a><% end %>
          </li>
          <li class="navigation-item">
            <a href=""><i class="fa fa-bar-chart" aria-hidden="true"></i></a>
          </li>
          <li class="navigation-item">
            <a href=""><i class="fa fa-cog" aria-hidden="true"></i></a>
          </li>
        </ul>
      </div><!-- /navigation-container -->

      <div class="content-container m-t-3">
        <% if get_flash(@conn, :info) do %>
          <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
        <% end %>
        <% if get_flash(@conn, :error) do %>
          <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
        <% end %>

        <main role="main">
          <%= render @view_module, @view_template, assigns %>
        </main>
      </div><!-- /content-container -->
    </div><!-- /app-container -->


    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
