use Mix.Config

# In this file, we keep development configuration that
# you likely want to automate and keep it away from
# your version control system.
config :echo, Echo.Endpoint,
  secret_key_base: "e457+hU3oVT4zYst+qNA1ZUzJc3EhgJiN2uHUwJbOysOlonUwa0MqyKWJYEMvtHe"

# Database
config :echo, Echo.Repo,
  adapter: Ecto.Adapters.Postgres,
  username: "username",
  password: "",
  database: "echo_dev",
  hostname: "localhost",
  pool_size: 10
