@import 'bootstrap';
@import './bootstrap-pagination';

$primary-color: #169dc6;
$awesome-green-color: #89bd40;

body {
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
}

.app-container {
  display: flex;
}

.echo-flash {
  margin-top: -20px;
}

.right-logo {
  top: 30px;
  left: 87%;
  position: absolute;
}

.navigation-container {
  background: #444;
  width: 80px;
  height: 100vh;
  color: #CCC;
  padding: 2rem 1rem 1rem 1rem;
  text-align: center;
}

.navigation-items {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
}

.navigation-item {
  margin: 0 0 1em 0;

  a {
    transition: color 0.25s ease;
    color: #CCC;
    text-decoration: none;

    &.active,
    &:hover{
      color: $primary-color;
    }
  }
}

.delete-echo-container {
  display: inline-block;
  float: right;
  margin-right: 1.0em;
}

.content-container {
  flex: 1;
}

.login-container {
  max-width: 40rem;
  margin: 0 auto;
}

.text-editor {
  font-size: 10px;
  font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace;
}

.radio-group {
  margin-left: 15px;

  .help-text {
    font-size: 13px;
  }
  .radio-inline {
    margin-left: 5px;
  }
}

.control-label {
  font-weight: 500;
}

tr {
  transition: background-color 0.25s ease;
}

.btn {
  transition: background-color 0.25s ease;
}


.thin-text {
  font-weight: 300;
  line-height: 0.4;
}

.popover {
  padding: 15px;
  top: 25% !important; // Don't try this at home, kids
  left: 40% !important;
  max-width: none;
}

.blur {
    background: #fff;
    transition: background-color 0.25s ease;
    opacity:0.2;
}

.text-gray {
  color: #999;

  &:hover {
    color: #999;
  }
}
