<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h2 class='thin-text'>New echo</h2>
      <hr />
    </div><!-- /col-xs-12 -->
  </div><!-- /row -->

  <div class="row m-t-2">
    <div class="col-xs-12">
      <%= render "form.html", changeset: @changeset,
                              action: application_path(@conn, :create) %>
    </div><!-- /col-xs-12 -->
  </div><!-- /row -->
</div><!-- /container -->
